div.header {
    background-color: white;
    width: 70%;
    max-height: auto;
    border: 1px solid black;
}

div.header_background {
    background-color: #1C7AFA;
    height: 40px;
}

span.heading_txt {
    float: left;
    color: white;
    margin: 12px;
}

span.good_txt {
    width: 10%;
    float: right;
    color: white;
    margin: 12px;
    background-color: green;
    border-radius: 25px;
}

span.bad_txt {
    width: 10%;
    float: right;
    color: white;
    margin: 12px;
    background-color: red;
    border-radius: 25px;
}

p.title_result {
    border: 1px solid black;
    margin: 50px;
    background-color: skyblue;
    height: auto;
    text-align: center;
}

div.footer {
    color: Green;
    border: 1px solid black;
    margin: 10px;
    background-color: #CCF6C7;
    height: 30px;
    margin: 30;
}